<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ReforAccion"
        tools:targetApi="31">
        <activity
            android:name=".Areas"
            android:exported="false" />
        <activity
            android:name=".Dates"
            android:exported="false" />
        <activity
            android:name=".Recomendacion"
            android:exported="false" />
        <activity
            android:name=".Animals"
            android:exported="false" />
        <activity
            android:name=".SpCeiba"
            android:exported="false" />
        <activity
            android:name=".SpRoble"
            android:exported="false" />
        <activity
            android:name=".SpNogal"
            android:exported="false" />
        <activity
            android:name=".SpGuayacan"
            android:exported="false" />
        <activity
            android:name=".SpSiete"
            android:exported="false" />
        <activity
            android:name=".SpPalma"
            android:exported="false" />
        <activity
            android:name=".Species"
            android:exported="false" />
        <activity
            android:name=".Activities"
            android:exported="false" />
        <activity
            android:name=".Events"
            android:exported="false" />
        <activity
            android:name=".Politicas"
            android:exported="false" />
        <activity
            android:name=".CategoriesBtn"
            android:exported="false" />
        <activity
            android:name=".RecoverPassw"
            android:exported="false" />
        <activity
            android:name=".VerifyEmail"
            android:exported="false" />
        <activity
            android:name=".CreateAccount"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>